body {
    font-family: Arial, sans-serif;
}

#output {
    background-color: #ccc; /* Background color is set to gray */
    position: relative;
    width: 90vw;
    height: 90vh;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}

.text-fade span {
    animation: fade 5s forwards;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
