body {
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide scrollbars */
}

#output {
    background-color: transparent;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text-fade {
    animation: fade 5s forwards;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
